/* @import "$HOME/.config/colors/colors.css" */
@import "../colors/colors.css";


/*Background default alpha(@background, 0.6)*/

* {
    font-family: "JetBrainsMono Nerd Font Propo";
  	font-size: 13px;
    font-weight: bold;
    min-height: 0;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

window,
tooltip {
    background-color: @background;
}

#waybar {
    background: transparent;
}

#workspaces {
    margin: 1px 0;
}

#workspaces button {
	background-color: @background;
	border-radius: 3px;
    color: @foreground;
    margin: 0px 2px 0px 2px;
    padding: 0 7px;
}
#workspaces button:hover {
    color: @foreground;
    transition: none;
    border-bottom: 2px solid @foreground;
    padding: 0 7px;
}

#workspaces button.active {
    color: @foreground;
    border: 2px solid @foreground;
    padding: 0 7px;
    margin: 0 2px;
}

#workspaces button.urgent {
    background-color: @blue;
    padding: 0 8px;
}

#window {
	background-color: @background;
	border-radius: 3px;
    color: @foreground;
    margin: 1px 0px 1px 2px;
    padding: 0px 7px 0px 7px;
    min-width: 0;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

/* CUSTOM RECORDER - TRAY*/
#custom-recorder {
    background-color: @background;
    border-radius: 3px;
    color: @red; /* Usa a cor vermelha do seu tema */
    margin: 0px 3px 0px 3px;
    padding: 0 10px;
}

#custom-recorder:hover {
    background-color: alpha(@select, 0.8);
}

/* Efeito opcional: piscar suavemente quando ativo */
#custom-recorder.active {
    animation: blink 2s linear infinite alternate;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0.5; }
}


#clock, 
#tray,
#network,
#battery,
#pulseaudio,
#cpu {
	background-color: @background;
	border-radius: 3px;
    color: @foreground;
    margin: 0px 3px 0px 3px;
    padding: 0 10px;
}

#clock:hover,
#tray:hover,
#network:hover,
#battery:hover,
#pulseaudio:hover,
#cpu:hover {
    background-color: alpha(@select, 0.9);
    border-radius: 3px;
}

#network {
    color: @yellow;
}

#battery {
    color: @green;
}

#battery.warning {
    color: @orange;
}

#battery.critical {
    color: @red;
}

#battery.charging {
    color: @blue;
}

#pulseaudio {
    color: @purple;
}

#cpu {
	color: #d3d3d3;
}

/*	Intire Modules	*/

.modules-left ,
.modules-center,
.modules-right {
	background-color: @background;
	margin-top: 3px;
	border-radius: 3px; /* also 90px is good */
    min-width: 0;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.modules-left {
	background-color: transparent;
	padding-right: 10px;
	padding-left: 1px;
	margin-left: 4px;
}

.modules-center {
	background-color: transparent;
	border-radius: 3px;
    color: @foreground;
}

.modules-right {
	margin-right: 4px;
	background-color: transparent;
}



